@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  color: #4b5563;
}

.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
}

.badge__green {
  background-color: #def7ec;
  color: #03543f;
}

.badge__red {
  background-color: #fde2e1;
  color: #981b1c;
}

.badge__yellow {
  background-color: #fef3c7;
  color: #92400f;
}

.form__page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__page h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.form__page label {
  display: block;
  font-size: 1.5rem;
}

.form__input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #777;
  width: 30vw;
}

.submit__btn {
  border-radius: 10rem;
  margin-top: 1rem;
  width: 30vw;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid currentColor;
  color: currentColor;
  cursor: pointer;
}

.submit__btn:hover {
  background-color: #4b5563;
  color: #fff;
}

.form__page p {
  margin-top: 1rem;
}

.redirectlink {
  text-decoration: none;
  color: #005288;
}

.form_error {
  font-size: 0.8rem;
  color: #981b1c;
}

.header {
  padding: 1rem;
  box-shadow: 0px 0px 3px 0px #0000001a;
}
.header__logo {
  display: block;
  margin: auto;
}

.logout__btn {
  cursor: pointer;
  float: right;
  margin-top: -1.5rem;
}

.dashboard {
  margin: auto;
  width: max-content;
}

.fliters {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.fliters__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

table {
  margin: auto;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border-collapse: collapse;
  font-size: 0.8rem;
  position: relative;
}

th,
td {
  padding: 0.9rem 1rem;
}

th {
  background-color: #f4f5f7;
  text-align: left;
}

.pagination {
  float: right;
  margin-top: 2rem;
  display: flex;
  list-style: none;
  outline: none;
  border: 1px solid #e4e4e7;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
}
.pagination > .active > a {
  background-color: #e4e4e7;
  color: #fff;
}
.pagination > li > a {
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a {
  background-color: #4b5563;
  border-color: #4b5563;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #4b5563;
}

.modal__show {
  display: block;
}

.modal__hide {
  display: none;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 0.8rem;
  padding: 2rem;
  width: max-content;
  max-width: 50%;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  color: #4b5563;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.modal__header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.modal__header img {
  width: 6rem;
  height: 6rem;
}

.modal__header h3 {
  font-size: 1rem;
}

.modal__para {
  margin: 1rem 0;
}

.modal__para a {
  text-decoration: none;
}

.modal__info__row {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.modal__info__row:not(:last-child) {
  border-bottom: 1px solid #e4e4e7;
}

.modal__info__row p:first-child {
  width: 10rem;
}
